.ace-editor {
  height: 500px;
}

.newEntityInput {
  width: 100%;
}

.main-row {
  height: 550px;
}

#editorSaveBtn {
  position: absolute;
  top: 60px;
  right: 50px;

  .glyphicon {
    font-size: 25px;
    color: gray;
    cursor: pointer;
  }

  .glyphicon:hover {
    color: black;
  }
}

.terminal {
  height: 300px;
}

.terminal-line {
  color: white;
  font-size: 12px;
  font-family: monospace;
}

.editor-top-bar {
  height: 40px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DDD;

  .title {
    font-size: 18px;
    font-family: 'Pacifico', cursive;
  }

  .line-height-100 {
    line-height: 38px;
  }
}

.file-tree {
  padding: 20px;
}