<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="webIde" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="webIde" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="webIde" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="webIde" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>web ide</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" type="text/css" href="static/css/app.css">
    <script src="static/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

<!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

<div ui-view></div>

<script type="application/javascript" src="static/bower_components/jquery/dist/jquery.min.js"></script>
<script type="application/javascript" src="static/bower_components/angular/angular.js"></script>
<script type="application/javascript" src="static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<script type="application/javascript" src="static/app/app.js"></script>

<script type="application/javascript" src="static/app/home/home.js"></script>

<script type="application/javascript" src="static/app/github/module.js"></script>
<script type="application/javascript" src="static/app/github/auth.service.js"></script>
<script type="application/javascript" src="static/app/github/repositories/module.js"></script>

{% include "web_ide_client_config.html" %}

</body>
</html>
