<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="webIde" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="webIde" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="webIde" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="webIde" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>web ide</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" type="text/css" href="static/vendor/angular-treeview/angular.treeview.css">
    <link rel="stylesheet" type="text/css" href="static/vendor/ng-terminal/vtortola.ng-terminal.css">
    <link rel="stylesheet" type="text/css" href="static/css/app.css">
    <script src="static/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

<!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

<div ui-view></div>

<script type="application/javascript" src="static/bower_components/jquery/dist/jquery.min.js"></script>
<script type="application/javascript" src="static/bower_components/ace-builds/src-min-noconflict/ace.js"></script>
<script type="application/javascript" src="static/bower_components/angular/angular.js"></script>
<script type="application/javascript" src="static/bower_components/angular-ui-ace/ui-ace.js"></script>
<script type="application/javascript" src="static/bower_components/angular-mocks/angular-mocks.js"></script>
<script type="application/javascript"
        src="static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="application/javascript"
        src="static/bower_components/angular-bootstrap-contextmenu/contextMenu.js"></script>
<script type="application/javascript" src="static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<script type="application/javascript" src="static/vendor/angular-treeview/angular.treeview.js"></script>
<script type="application/javascript" src="static/vendor/ng-terminal/vtortola.ng-terminal.js"></script>

<script type="application/javascript" src="static/app/app.module.js"></script>
<script type="application/javascript" src="static/app/app.config.js"></script>
<script type="application/javascript" src="static/app/app.run.js"></script>
<script type="application/javascript" src="static/app/app.run.service.js"></script>

<script type="application/javascript" src="static/app/home/home.module.js"></script>
<script type="application/javascript" src="static/app/home/home.controller.js"></script>

<script type="application/javascript" src="static/app/github/github.module.js"></script>
<script type="application/javascript" src="static/app/github/github.auth.service.js"></script>

<script type="application/javascript" src="static/app/github/repository/repository.module.js"></script>
<script type="application/javascript" src="static/app/github/repository/repository.controller.js"></script>
<script type="application/javascript" src="static/app/github/repository/repository.service.js"></script>

<script type="application/javascript" src="static/app/editor/editor.module.js"></script>
<script type="application/javascript" src="static/app/editor/editor.controller.js"></script>
<script type="application/javascript" src="static/app/editor/editor.service.js"></script>
<script type="application/javascript" src="static/app/editor/editor.file.service.js"></script>
<script type="application/javascript" src="static/app/editor/editor.ace.service.js"></script>
<script type="application/javascript" src="static/app/editor/editor.contextMenu.service.js"></script>
<script type="application/javascript" src="static/app/editor/editor.modal.controller.js"></script>

{% include "web_ide_client_config.html" %}

</body>
</html>
